<div style="display: flex; padding: 1em; align-items:center">
    <img style="margin-right: 2em" src="./assets/icons/Color=black.png" width="40" height="29" />
    <div>
        <p style="margin:auto;padding:0">Coffee shop address</p>
        <b style="margin:auto;padding:0"><img src="./assets/icons/size=small.png" />43, Marathon st.</b>
    </div>
</div>
